<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>
    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
    </ul>
    <p class="links">
      {% if site.linkedin_link %}<a href="{{ https://www.linkedin.com/in/laurasalinas1}}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if site.google_plus_link %}<a href="{{ google.com/+LauraSalinas1 }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ laurabug.github.io }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
    </p>
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
